---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
-->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<div class="container">
		<div class="card-container">
			<Card
				name="Ayu Qanita Putri Wasch"
				position="Manager"
				aboutMe={`Halo semua, perkenalkan kami dari SMKN 2 Malang, sebagai siswa jurusan Teknik Komputer Jaringan.
						Kami mempelajari materi dari PT MejaKita dengan sungguh-sungguh, karena kami ingin berkembang, terutama di bidang
						Rekayasa Perangkat Lunak. Meteri dasar yang kami kuasai meliputi HTML, CSS, Javascript, dan PHP.`}
				linkedin="https://www.linkedin.com/in/student-qanita-a609ab36a/"
				github="https://github.com/qanitastudent"
				cvLink="apapun itu, jangan sore-sore ya -rcy"
				profileImage="/images/frl.jpeg"
			/>
			<Card
				name="Nasywa Faizah Avianisa"
				position="Assistant"
				aboutMe={`Apa ya? yah gitu lah kira-kira, udah dijelasin di atas. Begitulah kura-kura ... dan naga. Yaudah izin yapping yaa. 
						Jadi kurang lebih seperti itu ya adengan apa yang kami kerjakan. Kami lama karena banyaknya eksplor dan mencoba semuanya, 
						padahal yang lain pada nyari template mudah, kita malah mempersulit diri sendiri :D. Sekian.`}
				linkedin="https://www.linkedin.com/in/nasywa-faizah-avianisa-3a0357263"
				github="https://github.com/NasywaFA"
				cvLink="Iyaa seeh -fr"
				profileImage="/images/Soobin.jpg"
			/>
		</div>
	</div>
</BaseLayout>

<!--
	"Hi there!, I'm Brian. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/alcarazbrian}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
-->